:host {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 10;
  padding: 27px 24px 10px 24px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  max-height: 344px;
  overflow-y: scroll;
}

.map-list {
  &__item {
    margin-bottom: 24px;
  }

  &__time {
    display: inline-block;
    padding: 4px 12px;
    background: rgba(7, 7, 7, 0.06);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
  }

  &__place {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 200px;
    word-wrap: break-word;
  }

  &__address {
  }
}
