@import "../../../styles/variables.scss";

.about {
  background-color: $backgroundColor;
  &__wrapper {
    padding: 120px 0px 64px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.about-project {
  position: relative;
  width: 16px;
  height: 122px;

  &__wrapper {
    width: 122px;
    position: absolute;
    top: 53px;
    left: -50px;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
  }

  &__line {
    height: 1px;
    width: 32px;
    background-color: $orangeColor;
    margin-right: 16px;
    order: 1;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(182, 179, 176, 1);
    order: 2;
  }
}

.about-content {
  max-width: 840px;

  &__h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 64px;
  }
}

.about-statistics {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  &__params {
    margin-bottom: 8px;
  }

  &__number {
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
    margin-right: 10px;
  }

  &__measure {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  &__text-span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(141, 136, 132, 1);
  }

  &__full-information {
    color: $orangeColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 140px;
    width: 140px;
    border-radius: 120px;
    background-color: rgba(254, 67, 0, 0.12);
    transition: 0.2s ease all;

    &:hover {
      background-color: rgba(254, 67, 0, 0.2);
    }
  }

  &__button {
    padding: 6px;
    border: 1px solid rgba(254, 67, 0, 1);
    border-radius: 120px;
  }
}

.about-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.67);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    z-index: 12;
    position: relative;
    max-width: 395px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 48px 29px 48px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
  }

  &__h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__form {
    width: 100%;
    margin-bottom: 10px;
  }

  &__field {
    width: 100%;
    margin-bottom: 2px;
  }

  &__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 6px;
    right: 20px;
    top: 20px;
    transition: 0.3s ease all;

    &:hover {
      background-color: rgba(192, 192, 192, 0.3);
    }
  }

  &__politics {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 24px;
  }
}

.about-submit {
  &__button {
    align-self: flex-start;
    padding: 6px 6px 6px 24px;
    display: flex;
    align-items: center;
    background: rgba(255, 90, 31, 1);
    border-radius: 60px;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(254, 67, 0, 1);
    }
  }

  &__span {
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-right: 10px;
  }

  &__icon {
    padding: 11px 13px 12px 13px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.12);
  }
}


@media (max-width: 907px) {
  .about__wrapper {
    padding: 80px 0px 44px 0px;
    flex-direction: column;
  }

  .about-project__wrapper {
    transform: rotate(0deg);
    top: 0;
    left: 0;
  }

  .about-project {
    height: 16px;
    width: 122px;
    margin-bottom: 16px;

    &__line {
      order: 2;
      margin-right: 0px;
    }

    span {
      order: 1;
      margin-right: 16px;
    }
  }
}

@media (max-width: 615px) {
  .about-statistics__grid-container {
    padding-left: 20px;
    grid-template-columns: 1fr;
  }

  .about-statistics {
    align-items: flex-end;
  }
}

@media (max-width: 524px) {
  .about-form {
    padding-top: 80px;
    align-items: flex-start;
  }

  .about-form__wrapper {
    max-width: 350px;
    padding: 20px;
  }

  .about-statistics__grid-container{
    grid-gap: 24px;
  }
}

@media (max-width: 453px) {
  .about-statistics {
    align-items: flex-start;
    flex-direction: column;

    &__button {
      margin-top: 32px;
      width: 100%;
    }

    &__full-information {
      width: 100%;
      height: 64px;
    }
  }

  .about-content__h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .about-form__wrapper {
    max-width: 250px;
  }

  .about-form__close-btn {
    top: 0;
    right: 5px;
  }

  .about-form__h2 {
    font-size: 26px;
  }

  .about-form__text {
    margin-bottom: 10px;
  }
}
