<div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <h2 class="footer__h2">
          <span class="orange">Пишите, звоните</span> или
          <span class="orange">приезжайте</span> к нам в офис
        </h2>
        <div class="footer__links">
          <div class="footer__map-icon">
            <img src="./assets/icons/place.svg" alt="map" />
          </div>
          <ul class="footer__ul">
            <li class="footer__li">г. Брест, ул. Московская, 275А</li>
            <li class="footer__li">pochta@gmail.com</li>
            <li class="footer__li">+375 (29) 000 00 00</li>
            <button class="footer__cooperation-button">
              <span class="footer__span">Обсудить сотрудничество</span>
              <div class="footer__icon">
                <img src="./assets/icons/rightArrow.svg" alt="right-arrow" />
              </div>
            </button>
          </ul>
        </div>

        <div class="footer__protected">
          <span>Все права защищены © 2023</span>
        </div>
      </div>
    </div>
  </div>
</div>
