<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__flex">
        <div class="header__logo">
          <img src="./assets/icons/logo.svg" alt="" />
        </div>

        <nav class="header__menu">
          <ul class="header__menu-flex">
            <li class="header__menu-item">О проекте</li>
            <li class="header__menu-item">Расположение</li>
            <li class="header__menu-item">Преимущества</li>
            <li class="header__menu-item">Галлерея</li>
            <li class="header__menu-item">
              <button class="header-phone">
                <div class="header-phone__icon">
                  <img src="./assets/icons/phone.svg" alt="" />
                </div>

                <div class="header-phone__number">
                  +375 (29) 000 00 00
                </div>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
