@import "../../../styles/variables.scss";

.header {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;


  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-flex {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 3s ease-in-out 1s;
    margin-right: 16px;

    &::after {
      content: "";
      width: 0px;
      height: 2px;
      display: block;
      background: rgb(255, 255, 255);
      transition: 300ms;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.header-phone {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 40px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.12);

  &:hover {
    background: rgba(92, 87, 87, 0.52);
    transition: 0.3s ease-in-out all;
  }

  &__icon {
    margin-right: 11px;
  }

  &__number {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: white;
  }
}

@media (min-width: 896px) {
  .header__small-logo {
    display: none;
  }
}

@media (max-width: 896px) {
  .header__menu-item {
    display: none;
  }

  .header__big-logo {
    display: none;
  }
}

@media (max-width: 363px) {
  .header-phone {
    padding: 10px 8px;

    &__icon {
      margin-right: 8px;
    }
  }
}
