<div
  class="diagonal"
  [ngStyle]="{ 'background-image': 'url(' + background + ')' }"
  style="transition: background-image 0.5s ease-in-out 0.3s"
>
  <div class="diagonal__color-bg">
    <div class="container diagonal__container">
      <div class="diagonal__wrapper">
        <div class="diagonal__flex">
          <div class="diagonal__slogan diagonal-slogan">
            <div class="diagonal-slogan__place">
              <div class="diagonal-slogan__icon">
                <img src="./assets/icons/place.svg" alt="place-icon" />
              </div>

              <span class="diagonal-slogan__address">
                г. Брест, ул. Московская, 275А
              </span>
            </div>
            <h1 class="diagonal-slogan__h1">
              Диагональ — самый близкий путь к успеху
            </h1>
          </div>

          <div class="diagonal__info diagonal-info">
            <div class="diagonal-info__text">
              Равным образом постоянный количественный рост и сфера нашей
              активности требуют от нас анализа модели развития.
            </div>
            <button
              class="diagonal-info__cooperation-button"
              (click)="openForm()"
            >
              <span class="diagonal-info__span">Обсудить сотрудничество</span>
              <div class="diagonal-info__icon">
                <img src="./assets/icons/rightArrow.svg" alt="right-arrow" />
              </div>
            </button>
          </div>
        </div>
        <div class="diagonal-slider">
          <div
            *ngFor="let item of slideLinesArray"
            [ngClass]="{ daigonalSliderChecked: item === slideNumber }"
            class="diagonal-slider__line"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
