<div class="landing">
  <div class="landing__header">
    <lending-header></lending-header>
  </div>

  <div class="landing__content" #content>
    <lending-diagonal></lending-diagonal>

    <lending-about></lending-about>

    <lending-video></lending-video>

    <lending-map></lending-map>
    <lending-partnership id="partnership"></lending-partnership>
    <lending-advantages></lending-advantages>
    <lending-slider-image></lending-slider-image>
  </div>
</div>

<div class="landing__footer">
  <lending-footer></lending-footer>
</div>
