<div class="partnership">
  <div class="partnership__rgba-background">
    <div class="container">
      <div class="partnership__wrapper">
        <div class="partnership__text-block">
          <h2 class="partnership__h2">
            Обсудим <span class="orange">сотрудничество</span>
          </h2>
          <div class="partnership__text">
            Пожалуйста, заполните данные. Наш менеджер свяжется с вами для
            подробной консультации
          </div>
        </div>
        <div class="partnership__form-wrapper">
          <form
            action="#"
            [formGroup]="form"
            id="partnershipForm"
            (submit)="submitForm()"
            class="partnership__form"
          >
            <mat-form-field class="partnership__field">
              <mat-label>Ваше имя</mat-label>
              <input
                type="text"
                matInput
                [formControl]="form.controls.name"
                placeholder="Ваше имя"
              />
              <mat-error
                *ngIf="
                  form.controls.name.hasError('minlength') &&
                  !form.controls.name.hasError('required')
                "
              >
                Слишком короткое имя
              </mat-error>
              <mat-error *ngIf="form.controls.name.hasError('required')">
                Заполните поле
              </mat-error>
            </mat-form-field>

            <mat-form-field class="partnership__field">
              <mat-label>Номер телефона</mat-label>
              <input
                type="tel"
                matInput
                [formControl]="form.controls.phone"
                placeholder="Номер телефона"
                class="partnership-phone-field"
              />
              <mat-error
                *ngIf="
                  form.controls.phone.hasError('minlength') &&
                  !form.controls.phone.hasError('required')
                "
              >
                Пожалуйста введите корректный телефон
              </mat-error>
              <mat-error *ngIf="form.controls.phone.hasError('required')">
                Заполните поле
              </mat-error>
            </mat-form-field>

            <mat-form-field class="partnership__field">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [formControl]="form.controls.email"
                placeholder="Ex. pat@example.com"
              />
              <mat-error
                *ngIf="
                  form.controls.email.hasError('email') &&
                  !form.controls.email.hasError('required')
                "
              >
                Пожалуйста введите корректный email
              </mat-error>
              <mat-error *ngIf="form.controls.email.hasError('required')">
                Заполните поле
              </mat-error>
            </mat-form-field>
          </form>

          <button
            type="submit"
            form="partnershipForm"
            class="partnership-submit__button"
          >
            <span class="partnership-submit__span">Отправить заявку</span>
            <div class="partnership-submit__icon">
              <img src="./assets/icons/rightArrow.svg" alt="right-arrow" />
            </div>
          </button>

          <span class="partnership__politics"
            >Отправляя заявку, вы соглашаетесь с
            <span class="underline">политикой конфиденциальности</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
