.partnership {
  background: url("../../../assets/cooperationBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__rgba-background {
    background: rgba($color: #000000, $alpha: 0.7);
  }

  &__wrapper {
    padding: 72px 0px 76px 0px;
    display: flex;
    justify-content: space-between;
  }

  &__text-block {
    max-width: 456px;
  }

  &__h2 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 408px;
    margin-bottom: 32px;

    mat-label {
      color: white;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    input {
      color: white !important;
    }
  }

  &__field {
    color: white;

    .mdc-text-field--filled:not(.mdc-text-field--disabled)
      .mdc-line-ripple::before {
      border-bottom-color: white !important;
    }
  }

  &__politics {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: white;
  }
}

.partnership-submit {
  &__button {
    align-self: flex-start;
    padding: 6px 6px 6px 24px;
    display: flex;
    align-items: center;
    background: rgba(255, 90, 31, 1);
    border-radius: 60px;
    transition: all 0.3s ease;

    margin-bottom: 24px;

    &:hover {
      background: rgba(254, 67, 0, 1);
    }
  }

  &__span {
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-right: 10px;
  }

  &__icon {
    padding: 11px 13px 12px 13px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.12);
  }
}


@media (max-width: 972px){
  .partnership__text-block{
    width: 300px;
    margin-right: 10px;
  }
}

