@import "../../../styles/variables.scss";

.video {
  background-color: $backgroundColor;

  &__wrapper {
    position: relative;
    width: 100%;
    padding: 28% 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      filter: brightness(76%);
      width: 100%;
      height: 100%;
      clip-path: polygon(
        5.46% 0%,
        100% 0%,
        100% 89.56%,
        93.84% 100%,
        0% 100%,
        0% 9.44%
      );
    }
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    width: 120px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.3s background ease;

    img {
      position: absolute;
      top: 40px;
      left: 50px;
      width: 24px;
      height: 41px;
    }

    &:hover {
      background: rgba(54, 54, 54, 0.24);
      transition: 0.3s background ease;
    }
  }
}

.player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__background {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.64);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    flex: 0 1 1128px;
    height: 634px;
    padding: 0px 60px;
  }
}

.videoblock {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.videoblock iframe,
object,
embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 1120px) {
  .player__wrapper {
    padding-top: 120px;
  }
}

@media (max-width: 734px) {
  .player__wrapper {
    padding: 250px 20px 20px 20px;
  }
}
