<div class="map">
  <div class="container">
    <div class="map__padding">
      <div class="map__text-wrapper" style="margin-bottom: 40px;">
        <div class="map__content">
          <h1 class="map__title">
            Удобные транспортные <span class="orange">развязки</span>, самая
            развитая <span class="orange">транспортная сеть</span><br />со всеми
            районами города
          </h1>

          <span class="map__info"
            >Бизнес центр расположен.....Краткая информация от двух до десяти
            предложений в абзаце. Краткая информация от двух до десяти
            предложений в абзаце</span
          >
        </div>

        <div class="map__rotated-text rotated-text">
          <div class="rotated-text__wrapper">
            <div class="rotated-text__line"></div>
            <span class="rotated-text__span"
              >Расположение и <br />
              Инфраструктура</span
            >
          </div>
        </div>
      </div>
      <div class="map__wrapper">
        <div class="map__radio-buttons">
          <div class="map__range-field" *ngFor="let item of rangeFields">
            <input
              class="map__radio-input"
              type="radio"
              [id]="item.placeType"
              name="map"
              [value]="item.placeType"
            />
            <label
              [ngClass]="{ activeRadioBtn: item.isChecked }"
              class="map__radio-label"
              [for]="item.placeType"
              (click)="checkType(item.placeType)"
            >
              <div class="map__radio-icon">
                <img [src]="item.iconSrc" alt="" />
              </div>
              <span class="map__radio-span">{{ item.spanText }}</span>
            </label>
          </div>
        </div>

        <div class="map__yandex-map">
          <iframe
            class="map__iframe"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Aac8c639c65b28683ae5ed9f08d7029f79d56828a2aeaa75f3eea4b983a830db9&amp;source=constructor"
            width="100%"
            height="100%"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
