/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import "./styles/normalize.scss";

html {
  height: 100%;
}

body {
  font-family: Montserrat;
  height: 100%;
}

.container{
  max-width: 1128px;
  margin: 0 auto;
}
